
<div class="sumbox">
    <table style="position: relative;
    top: 20px;
    left: 20px;">
        <tr>
            <th style="width: 250px;"><img src="../../assets/images/add.svg"> Base Fare</th>
            <th>$220</th>
        </tr>
        <hr>
        <tr>
            <th style="width: 250px;"><img src="../../assets/images/add.svg"> Fees & Surcharges</th>
            <th>$20</th>
        </tr>
        <hr>
        <tr>
            <th style="width: 250px;"><img src="../../assets/images/add.svg"> Other Services</th>
            <th>$20</th>
        </tr>
        <hr>
        <tr>
            <th style="width: 250px;"><img src="../../assets/images/add.svg">Total Amount
            </th>
            <th>$260</th>
        </tr>
    </table>
</div>