<header>
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="#home"><img src="https://seeklogo.com/images/M/makemytrip-logo-797F76C823-seeklogo.com.png"
                    class="mmtlogo" alt="MakeMyTrip"></a>

            <ul style="display: flex;justify-content: center;">
                <li>
                    <div style="top:-20px"><img class="my-biz"
                            src="https://imgak.mmtcdn.com/mybiz/assets/images/landing/myBizLogo_light.png" alt="">
                    </div>
                </li>
                <li><button class="btn btn-primary head" style="line-height:0;padding: 0%;">
                        <div style="margin: 4px;">
                            <p>
                                <span style="font-weight: bold;font-size: 15px;">Introducing myBiz</span>
                            <p>
                            <p>makemytrip for bussiness</p>
                        </div>
                    </button></li>
                <li><button class="btn btn-primary head" style="line-height:0;padding: 0%;">
                        <p>
                            <span style="font-weight: bold;font-size: 15px;">My Trips</span>
                        </p>
                        <p>Manage Your bookings</p>
                    </button></li>
                <li class="dropdown"><button class="btn btn-primary" style="padding-bottom: 0%;">
                        <h6 class="dropdown-toggle"> Login or Create Account</h6>
                    </button></li>
                <li class=" dropdown"><button class="btn btn-primary" style="padding-bottom: 0%;">
                        <h6 class="dropdown-toggle">IN | ENG | INR</h6>
                    </button></li>
            </ul>

        </div>

    </div>
</header>