.mmtlogo {
  height: 36px;
  width: 113px;
  color: #fff;
  /* background-color: #fff */
  ;
}


header {
  background-color: #051424;
  color: #fff;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: right;
  position: relative;
  left: 25vw;
}

li {
  margin-right: 5px;
  margin-top: 8px;
  /* line-height: 0%; */
  line-height: 0%;
  padding: 0%;
}

p {
  font-size: 12px;
}

.head {
  background-color: #051424;
  border: none;
}

.my-biz{
  height: 25px;
}