hr {
  border: 0;
  height: 1px;
  width: 100px;
  /* background: $main-text; */
}
.content-section{
  background-color: #e0e0e0;
}

.content-area {
  height: 400px;
  margin: 0 auto;
  max-width: 960px;
  display: flex;
  align-items: center;
}

.plan {
  background: rgba(255, 255, 255, 1);
  margin: 20px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 10px 19px -11px rgba(0, 0, 0, 0.75);
  text-align: center;
  flex: 1;
  display: flex;
  flex-wrap: wrap;

}

.plan:hover {
  top: -5px;
}

.plan>* {
  flex: 1 1 100%;
}

.image {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.image-text {
  height: 200px;
  width: 100%;
  padding: 0 25px;


}

.image-text h3 {
  margin-bottom: 20px;
}

.image-text p {
  font-size: 12px;
  /* color: lighten($main-text, 30%); */
}
