
<div class="content-section">
	<header>
		<div class="intro text-center">
			<i class="ion-ios-sunny"></i>
			<h1 style="font-weight:bold;">Travel Cards</h1>
            <br>
		</div>
	</header>
	<section class="content-area">
		<div class="plan plan1">
			<div class="image" style="background-image: url('https://unsplash.it/400/400')">
			</div>
			<div class="image-text">
				<h3>4,000 miles north</h3>
				<p>Kickstarter quinoa succulents chicharrones, coloring book portland readymade asymmetrical typewriter fanny pack literally.</p>
			</div>
		</div>

		<div class="plan plan2">
			<div class="image" style="background-image: url('https://unsplash.it/350/350')">
			</div>
			<div class="image-text">
				<h3>3,000 miles soth</h3>
				<p>Art party wolf copper roof party mug succulents, four dollar coloring book portland toast chia listicle fashion axe blog selfies normcore. </p>
			</div>
		</div>

		<div class="plan plan3">
			<div class="image" style="background-image: url('https://unsplash.it/420/420')">
			</div>
			<div class="image-text">
				<h3>6,000 miles north</h3>
				<p>Ethical williamsburg roof party chicharrones quinoa. Fingerstache microdosing truffaut.</p>
			</div>
		</div>
	</section>
</div>