.min-Container {
  min-height: 450px;
  width: 100%;
  font-family: Lato, sans-serif;
  background-image: linear-gradient(#051424, #14437a);
  display: flex;
  justify-content: center;

}

.body-Content {
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  width: 70%;
  padding: 50px 20px 0;
}

.booking-form {
  max-width: 350px;
}

input {
  margin-right: 3px;
}

.span-check {
  margin-right: 12px;
  color: grey;
  font-weight: bold;
  font-size: 14px;
}


.col-2 {
  background: #f1f2f5;
  border: black;
  border-radius: 10px;
  margin: 1px;
  height: 6vw;
  width: 15vw;
  cursor: pointer;
  line-height: 1px;
}

.col-1 {
  background: #f1f2f5;
  border: black;
  border-radius: 10px;
  margin: 1px;
  height: 6vw;
  width: 5vw;
  cursor: pointer;
}

.row {
  margin-top: 10px;
  display: flex;
  justify-content: center;

}

.col-1:hover {
  background-color: #eaf5fe;
}

.col-2:hover {
  background-color: #eaf5fe;
}

.hide {
  /* display: none; */
}

input {
  border-radius: 5px;
}

ul {
  list-style-type: none;
  margin-top: 20px;
}

li {
  margin: 2px;
}

button {
  /* border-color:grey; */
  /* box-shadow: 0.5px 0.5px 0.5PX 0.5PX; */
  height: 5VH;
  font-size: x-small;
  font-weight: bold;
}

button:hover {
  background-color: #0d6efd;
  color: #FFF;
}

.trnd {
  background-color: #f1f2f5;
}

.searchbtn {
  width: 216px;
  padding: 10px;
  height: 50px;
  margin-bottom: -32px;
  opacity: 1;
  border-radius: 40px;
  background-image: linear-gradient(96deg, #53b2fe, #065af3);
  font-size: 20px;
  color: #fff;
  position: absolute;
  top: 383px;
  left: 786px;
}


.hide1 {
  /* display: none; */
}

.basebtn li {
  margin: 5px;
}

.explore {
  background-color: #eaf5fe;
  height: 40px;
  border-radius: 15px;
  /* display: flex;
align-items: center;
justify-content: center;; */
}
