<div class="min-Container">
    <div class="body-Content">
        <div class="booking-form">
            <div class="radio-btn">
                <input type="radio" class="btn" name="check">
                <span class="span-check">ONEWAY</span>
                <input type="radio" class="btn" name="check">
                <span class="span-check">ROUNDWAY</span>
                <input type="radio" class="btn" name="check">
                <span class="span-check">MULTICITY</span>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col col-2" (click)="From()">
                    <h2>From</h2>
                    <div #from class="hide">
                        <app-searchbar></app-searchbar>
                    </div>
                    <!-- <input type="text" name="" id="" class="hide"> -->
                    <!-- <h2 style="font-weight: bold;">Delhi</h2>
                    <p style="color: gray;">DEL,Delhi Airport India</p> -->
                </div>
                <div class="col col-2" (click)="To()">
                    <h2>To</h2>
                    <div #To class="hide1">
                        <app-searchbar></app-searchbar>
                    </div>
                    <!-- <h2 style="font-weight: bold;">LON</h2>
                    <p style="color: gray;">BLR,Kempegowda International..</p> -->
                </div>
                <div class="col col-2 form-group">
                    <h4 style="font-weight: bold;">Departure</h4>
                    <app-date-picker></app-date-picker>
                    <!-- <label for="departure">Departure</label>
                    <input type="date" id="departure" name="departure" [(ngModel)]="departure" class="form-control"> -->
                </div>
                <div class="col col-2">
                    <h4 style="font-weight: bold;">Return</h4>
                    <app-date-picker></app-date-picker>

                </div>

                <div class="col col-1">
                    <div class="form-group">
                        <label for="passengerFormControl">
                            <h5 style="font-weight: bold;">PASSENGERS</h5>
                        </label>
                        <select class="form-control" id="passengerFormControl">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>

                </div>
            </div>
            <ul style="display: flex;" class="basebtn">
                <li><button class="btn btn-light">REGULAR FARE</button></li>
                <li><button class="btn btn-light">ARMED FORCES</button></li>
                <li><button class="btn btn-light">STUDENT FARE</button></li>
                <li><button class="btn btn-light">SENIOR CITIZEN</button></li>
                <LI>Trending Searches:</LI>
                <li><button class="btn trnd">LON - London</button></li>
                <li><button class="btn trnd">SYD - Bankok</button></li>
                <li><button class="btn trnd">Dubai - Delhi</button></li>
            </ul>
        </div>
        <div class="explore">
            <p style="padding:15px;"> <span style="font-size: 18px;font-weight: bold;">International holiday on your
                    mind? </span> Get customised suggestions on destinations and find the cheapest flights!
                <a style="float:right;text-decoration: none;font-weight: bold;" href="">EXPLORE NOW</a>
            </p>
        </div>
        <div><button class="btn searchbtn">SEARCH</button></div>