header {
  background-color: #051424;
  color: #fff;
}

body {
  background-color: #e0e0e0;
  /* height: max-content; */
}

.box {
  height: 20vw;
  background-color: #fff;
  width: 50vw;
  /* top: 20vw; */
  border-radius: 15px;
  top: 20px;
  position: relative;
}

.depart {
  height: 60px;
  background-color: #474747;
  color: #fff;
  width: 6rem;
  line-height: 7px;
  /* padding: 20px; */
  top: 20px;
  position: relative;
}

.sumbox {
  background-color: #fff;
  height: 14vw;
  width: 18vw;

  border-radius: 15px;
}

.row {
  display: flex;
  /* margin: 20px; */
  /* flex-direction: column; */
}

.col-1 {
  height: 8vw;
  width: 9.5vw;
}

.col2 {
  height: 4vw;
  /* background-color: gainsboro; */
  width: 7vw;
  margin: 1px;
}

.col-4 {
  top: -19vw;
  left: 51vw;
  position: relative;
}
