<header>
    <div class="container ">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <h1>Review Your Booking</h1>
        </div>

    </div>
</header>
<!-- <mat-progress-bar mode="determinate" value="40"></mat-progress-bar> -->

<mat-slider style="float: right;;" min="2" max="10" step="4" value="4"></mat-slider>

<body>
    <!-- <h1 style="position: relative;
    left: 15vw;">Itinerary</h1> -->
    <div class="container">
        <div class="row">
            <div class="box col-8">
                <div style="display: flex;">
                    <div class="depart">
                        <div style="margin-top: 13px;
                position: absolute;">
                            <p style="margin: 10px;display: flex;justify-content: center;align-items: center;">
                                <span style="font-size: 20px;">DEPART</span>
                            <p>
                            <p style="font-size: 15px;margin:5px;">Thu 22 Jul</p>
                        </div>

                    </div>
                    <div style="color:grey; top: 20px;
                position: relative;margin-left:10px;">
                        <p>
                            <span style="font-weight: bold;font-size: 15px;">BOM-BLR</span>
                        <p>
                        <p>Non stop | 1 hr 45 mins | Premium Economy</p>
                    </div>
                    <div>
                        <button style="color: #5dbdb8;background-color:#c7eee5;border: none;border-radius: 5px;top: 1.5vw;
                        left: 8vw;position: relative;">Cancellation
                            Fees Apply</button>
                    </div>
                    <h3 style="position: relative;
                top: 1.5vw;
                left: 10vw;font-weight: bold;">Fare Rules</h3>
                    <mat-icon style="    position: relative;
                top: 1.5vw;
                left: 11vw;">info</mat-icon>
                </div>
                <hr style="line-height: 1px;">
                <div class="row" style="display: flex;margin:10px;">
                    <div class="col-1">
                        <div style="    display: flex;
                        align-items: flex-end;
                        justify-content: space-evenly;">
                            <img style="height: 3vw;" src="../../assets/images/UK.png" alt="">
                            <h3 style="font-weight: bold;">Vistara</h3>
                        </div>
                    </div>
                    <div class="col-1">
                        <h1 style="font-weight: bold;">16:00</h1>
                        <h3 style="font-weight: bold;">Thu,22 Jul21</h3>
                        <h6 style="font-weight: bold;"> SYD</h6>
                    </div>
                    <div class="col-1">
                        <hr style="position: relative;top:2.5vw">
                    </div>
                    <div class="col-1">
                        <h1 style="font-weight: bold;">17:45</h1>
                        <h3 style="font-weight: bold;">Thu,22 Jul21</h3>
                        <h6 style="font-weight: bold;">LON</h6>
                    </div>
                    <div class="col-1">
                        <h6 style="font-weight: bold;">Fare Type</h6>
                        <h4 style="font-weight: bold;">PREMIUM ECONOMY VALUE</h4>
                    </div>
                </div>
                <hr>
                <div>
                    <div class="basedetails" style="display: flex;">
                        <div class="col2">
                            <h4 style="font-weight: bold;">BAGGAGE:</h4>
                            <h5>ADULT</h5>
                        </div>
                        <div class="col2">
                            <h4 style="font-weight: bold;">CHECK IN</h4>
                            <h5>20Kgs</h5>
                        </div>
                        <div class="col2">
                            <h4 style="font-weight: bold;">CABIN</h4>
                            <h5>10Kgs(1 piece only)</h5>
                        </div>
                    </div>
                </div>

                <div class="col-4">
              <app-faresummary></app-faresummary>

                </div>
            </div>

        </div>
        <!-- <div>
            <img style="width: 49vw;
            margin-top: 25px;" src="../../assets/images/notice.jpg" alt="">
        </div> -->
    </div>
</body>