 <!-- <app-header></app-header> -->
<!--<app-homesection></app-homesection> -->
<!-- <app-date-picker></app-date-picker> -->
<!-- <app-flight-summary></app-flight-summary> -->
<!-- <app-flight-form></app-flight-form> -->
<!-- <app-detail-page-nav></app-detail-page-nav> -->
<app-flightseating></app-flightseating>
<!-- <app-faresummary></app-faresummary> -->
<!-- <app-payment></app-payment> -->
<!-- <app-travelblog></app-travelblog> -->
<!-- <app-razorpay-payment></app-razorpay-payment> -->
