body {
  background-color: #e0e0e0;
}

.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.flightbox {
  width: 52vw;
}

.row {
  display: flex;
  /* margin: 20px; */
  /* flex-direction: column; */
}

.col-1 {
  height: 8vw;
  width: 9.5vw;
}

.col2 {
  height: 4vw;
  /* background-color: gainsboro; */
  width: 7vw;
  margin: 1px;
}

.col-4 {
  position: absolute;
  left: 70vw;
  top: 116px;
}
