<body>
    <app-header></app-header>
    <div class="container" style="width: 100vw;">
        <div class="row"></div>
        <h1 style="margin-top: 10PX;font-weight: bold;">FLIGHT SUMMARY</h1>
        <div class="flightbox col-8">
            <mat-accordion>
                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title
                            style="display: flex;justify-content: space-between;align-items: center;padding-top: 15px;">
                            <h3 style="font-weight: bold;">SYD - LON</h3>
                            <h3 style="color: blue;">Flight Details</h3>
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row" style="display: flex;margin:10px;">
                        <div class="col-1">
                            <div style="    display: flex;
                            align-items: flex-end;
                            justify-content: space-evenly;">
                                <img style="height: 3vw;" src="../../assets/images/UK.png" alt="">
                                <h3 style="font-weight: bold;">Vistara</h3>
                            </div>
                        </div>
                        <div class="col-1">
                            <h1 style="font-weight: bold;">16:00</h1>
                            <h3 style="font-weight: bold;">Thu,22 Jul21</h3>
                            <h6 style="font-weight: bold;"> SYD</h6>
                        </div>
                        <div class="col-1">
                            <hr style="position: relative;top:2.5vw">
                        </div>
                        <div class="col-1">
                            <h1 style="font-weight: bold;">17:45</h1>
                            <h3 style="font-weight: bold;">Thu,22 Jul21</h3>
                            <h6 style="font-weight: bold;">LON</h6>
                        </div>
                        <div class="col-1">
                            <h6 style="font-weight: bold;">Fare Type</h6>
                            <h4 style="font-weight: bold;">PREMIUM ECONOMY VALUE</h4>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div class="col-4"><app-faresummary></app-faresummary></div>
        
        <br>
        <app-flight-form></app-flight-form>
        <br>
        <br>
        <button class="btn btn-primary" style="float: center;">Continue</button>
        <app-travelblog></app-travelblog>
    </div>


   

    <!-- <app-payment></app-payment> -->
</body>