.mat-form-field+.mat-form-field {
  margin-left: 8px;
}

.flightform {
  width: 52vw;
  border-radius: 15px;
}

.inputadult {
  margin: 5px;
  width: 16vw;
  border-radius: 5px;
  height: 2vw;
}

input {
  border-color: grey;
  border-width: thin;
}

.fare {
  top: -19vw;
  left: 54vw;
  position: relative;
}
