<div class="container" style="width: 99vw;width: 100vw;
left: -14px;
position: relative">
    <h1 style="font-weight: bold;">ADULT</h1>
    <div class="flightform">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h2 style="font-weight: bold;padding-top: 8px;">ADULT</h2>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <!-- <p>I'm visible because I am open</p> -->
                <div>
                    <p style="font-weight: bold;">IMPORTANT: Enter your name as it is mentioned on your passport or any
                        government approved ID.</p>
                    <div>
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill" style="margin: 15px;">
                                        <mat-label>First name</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                        <input matInput>
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                        <form>
                            <input type="radio" name="sex" value="male" placeholder="First & Middle Name" checked> Male
                            <input type="radio" name="sex" value="female" placeholder="Last Name"> Female
                        </form>

                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <h1 style="font-weight: bold;margin-top: 10px;">Booking details will be sent to</h1>
    <div style="background-color: #fff;height: 8vw;width: 52vw;border-radius: 10px;">
        <h4 style="color: gray ;margin: 15px;">Your ticket and flights information will be sent here.
        </h4>
        <div style="display: flex;justify-content: space-around;">
            <div>
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>City</mat-label>
                    <input matInput placeholder="Ex. San Francisco">
                </mat-form-field>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Telephone</mat-label>
                        <span matPrefix>+1 &nbsp;</span>
                        <input type="tel" matInput placeholder="555-555-1234">
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </form>
            </div>
            <div>
                <form class="example-form">
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                        <mat-hint>Errors appear instantly!</mat-hint>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
        <div class="fare">
            <!-- <app-faresummary></app-faresummary> -->
        </div>
    </div>

</div>